## Data
Being able to easily load and process data is a crucial task that can make any data science more pleasant. In this notebook, we will cover most common types often encountered in data science tasks, and we will be using this data throughout the rest of this tutorial.

## Install dependencies

In [2]:
pwd()

"/Users/diegopisera/Documents/GitHub/juliaProjects/DataScience"

In [4]:
import Pkg
Pkg.status()

Status `~/Documents/GitHub/juliaProjects/DataScience/Project.toml`
  [6e4b80f9] BenchmarkTools v1.5.0
  [336ed68f] CSV v0.10.15
  [a93c6f00] DataFrames v1.7.0
  [8bb1440f] DelimitedFiles v1.9.1
  [4138dd39] JLD v0.13.5
  [23992714] MAT v0.10.7
  [15e1cf62] NPZ v0.4.3
  [6f49c342] RCall v0.14.6
  [df47a6cb] RData v1.0.0
  [fdbf4ff8] XLSX v0.10.4
  [f43a241f] Downloads v1.6.0

In [6]:
Pkg.activate(".")

  Activating project at `~/Documents/GitHub/juliaProjects/DataScience`

In [8]:
Pkg.status()

Status `~/Documents/GitHub/juliaProjects/DataScience/Project.toml`
  [6e4b80f9] BenchmarkTools v1.5.0
  [336ed68f] CSV v0.10.15
  [a93c6f00] DataFrames v1.7.0
  [8bb1440f] DelimitedFiles v1.9.1
  [4138dd39] JLD v0.13.5
  [23992714] MAT v0.10.7
  [15e1cf62] NPZ v0.4.3
  [6f49c342] RCall v0.14.6
  [df47a6cb] RData v1.0.0
  [fdbf4ff8] XLSX v0.10.4
  [f43a241f] Downloads v1.6.0

In [10]:
using BenchmarkTools
using DataFrames
using DelimitedFiles
using CSV
using XLSX
using Downloads

# üóÉÔ∏è Get some data
In Julia, it's pretty easy to dowload a file from the web using the `download` (https://docs.julialang.org/en/v1/stdlib/Downloads/) function. But also, you can use your favorite command line commad to download files by easily switching from Julia via the `;` key. Let's try both.

Note: `download` depends on external tools such as curl, wget or fetch. So you must have one of these.

In [13]:
P = Downloads.download("https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv",
    "programming_languages.csv")

"programming_languages.csv"

Another way would be to use a shell command to get the same file.

# üìÇ Read your data from text files.
The key question here is to load data from files such as `csv` files, `xlsx` files, or just raw text files. We will go over some Julia packages that will allow us to read such files very easily.

## `DelimitedFiles` of text file
Let's start with the package `DelimitedFiles` which is in the standard library.

In [17]:
#=
readdlm(source, 
    delim::AbstractChar, 
    T::Type, 
    eol::AbstractChar; 
    header=false, 
    skipstart=0, 
    skipblanks=true, 
    use_mmap, 
    quotes=true, 
    dims, 
    comments=false, 
    comment_char='#')
=#
P,H = readdlm("programming_languages.csv",',';header=true);

In [19]:
H

1√ó2 Matrix{AbstractString}:
 "year"  "language"

In [14]:
P

73√ó2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"
 1959  "RPG"
 1962  "APL"
 1962  "Simula"
    ‚ãÆ
 2003  "Scala"
 2005  "F#"
 2006  "PowerShell"
 2007  "Clojure"
 2009  "Go"
 2010  "Rust"
 2011  "Dart"
 2011  "Kotlin"
 2011  "Red"
 2011  "Elixir"
 2012  "Julia"
 2014  "Swift"

In [21]:
# To write to a text file, you can:
writedlm("programminglanguages_dlm.txt", P, '-')

## `CSV` package
A more powerful package to use here is the `CSV` package. By default, the CSV package imports the data to a DataFrame, which can have several advantages as we will see below.

In general,[`CSV.jl`](https://juliadata.github.io/CSV.jl/stable/) is the recommended way to load CSVs in Julia. Only use `DelimitedFiles` when you have a more complicated file where you want to specify several things.

In [24]:
C = CSV.read("programming_languages.csv", DataFrame);

In [25]:
@show typeof(C)
C[1:10,:]
# C.year #[!,:year]

typeof(C) = DataFrame

10√ó2 DataFrame
 Row ‚îÇ year   language
     ‚îÇ Int64  String31
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ  1951  Regional Assembly Language
   2 ‚îÇ  1952  Autocode
   3 ‚îÇ  1954  IPL
   4 ‚îÇ  1955  FLOW-MATIC
   5 ‚îÇ  1957  FORTRAN
   6 ‚îÇ  1957  COMTRAN
   7 ‚îÇ  1958  LISP
   8 ‚îÇ  1958  ALGOL 58
   9 ‚îÇ  1959  FACT
  10 ‚îÇ  1959  COBOL

In [28]:
@show typeof(P)
P[1:10,:]

typeof(P) = Matrix{Any}

10√ó2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"

In [30]:
names(C)

2-element Vector{String}:
 "year"
 "language"

In [32]:
C.year;

In [34]:
C.language;

In [36]:
describe(C)

2√ó7 DataFrame
 Row ‚îÇ variable  mean     min       median  max        nmissing  eltype
     ‚îÇ Symbol    Union‚Ä¶   Any       Union‚Ä¶  Any        Int64     DataType
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ year      1982.99  1951      1986.0  2014              0  Int64
   2 ‚îÇ language           ALGOL 58          dBase III         0  String31

In [38]:
@btime P,H = readdlm("programming_languages.csv",',';header=true);
@btime C = CSV.read("programming_languages.csv", DataFrame);

  267.417 Œºs (328 allocations: 50.77 KiB)
  66.083 Œºs (460 allocations: 47.16 KiB)

In [32]:
# To write to a *.csv file using the CSV package
CSV.write("programminglanguages_CSV.csv", DataFrame(P, :auto))

"programminglanguages_CSV.csv"

## `XLSX` files
Another type of files that we may often need to read is `XLSX` files. Let's try to read a new file.

In [40]:
T = XLSX.readdata("data/zillow_data_download_april2020.xlsx", #file name
    "Sale_counts_city", #sheet name
    "A1:F9" #cell range
    )

9√ó6 Matrix{Any}:
      "RegionID"  "RegionName"    ‚Ä¶      "2008-03"      "2008-04"
  6181            "New York"             missing        missing
 12447            "Los Angeles"      1446           1705
 39051            "Houston"          2926           3121
 17426            "Chicago"          2910           3022
  6915            "San Antonio"   ‚Ä¶  1479           1529
 13271            "Philadelphia"     1609           1795
 40326            "Phoenix"          1310           1519
 18959            "Las Vegas"        1618           1856

If you don't want to specify cell ranges... though this will take a little longer...

In [42]:
G = XLSX.readtable("data/zillow_data_download_april2020.xlsx","Sale_counts_city")

XLSX.DataTable(Any[Any[6181, 12447, 39051, 17426, 6915, 13271, 40326, 18959, 54296, 38128  ‚Ä¶  396952, 397236, 398030, 398104, 398357, 398712, 398716, 399081, 737789, 760882], Any["New York", "Los Angeles", "Houston", "Chicago", "San Antonio", "Philadelphia", "Phoenix", "Las Vegas", "San Diego", "Dallas"  ‚Ä¶  "Barnard Plantation", "Windsor Place", "Stockbridge", "Mattamiscontis", "Chase Stream", "Bowdoin College Grant West", "Summerset", "Long Pond", "Hideout", "Ebeemee"], Any["New York", "California", "Texas", "Illinois", "Texas", "Pennsylvania", "Arizona", "Nevada", "California", "Texas"  ‚Ä¶  "Maine", "Missouri", "Wisconsin", "Maine", "Maine", "Maine", "South Dakota", "Maine", "Utah", "Maine"], Any[1, 2, 3, 4, 5, 6, 7, 8, 9, 10  ‚Ä¶  28750, 28751, 28752, 28753, 28754, 28755, 28756, 28757, 28758, 28759], Any[missing, 1446, 2926, 2910, 1479, 1609, 1310, 1618, 772, 1158  ‚Ä¶  0, 0, 0, 0, 0, 0, 0, 0, 1, 0], Any[missing, 1705, 3121, 3022, 1529, 1795, 1519, 1856, 1057, 1232  ‚Ä¶  0, 0, 0, 0, 0, 0, 0, 0, 0, 0], Any[missing, 1795, 3220, 2937, 1582, 1709, 1654, 1961, 1195, 1240  ‚Ä¶  0, 0, 0, 0, 0, 0, 2, 0, 0, 0], Any[missing, 1890, 3405, 3224, 1761, 1914, 1743, 2022, 1115, 1236  ‚Ä¶  0, 0, 0, 0, 0, 0, 0, 0, 0, 0], Any[missing, 2072, 3352, 3464, 1678, 1984, 1975, 2219, 1272, 1392  ‚Ä¶  0, 0, 0, 0, 0, 1, 1, 0, 0, 0], Any[missing, 1876, 2962, 3371, 1468, 1739, 1809, 2248, 1171, 1138  ‚Ä¶  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  ‚Ä¶  Any[3473, 2651, 3894, 3702, 2384, 2682, 3898, 3284, 1542, 1407  ‚Ä¶  0, 0, 0, 0, 0, 2, 3, 0, 0, 0], Any[3900, 2504, 3511, 3549, 2242, 2270, 3570, 3058, 1433, 1235  ‚Ä¶  0, 0, 2, 0, 0, 2, 6, 0, 1, 0], Any[4493, 2675, 3687, 3622, 2300, 2479, 3616, 3235, 1529, 1423  ‚Ä¶  0, 0, 0, 0, 0, 3, 10, 0, 1, 0], Any[4266, 2759, 3414, 3619, 2233, 2503, 3581, 3254, 1479, 1266  ‚Ä¶  0, missing, 0, 0, 0, 3, 5, 0, 2, 0], Any[4183, 2334, 2803, 2938, 1788, 2184, 3199, 2821, 1307, 1143  ‚Ä¶  0, missing, 0, 0, 1, 1, 4, 0, 1, 0], Any[4232, 2594, 2969, 2930, 1917, 2337, 3189, 3097, 1356, 1239  ‚Ä¶  0, missing, 0, 0, 0, missing, 8, 0, 2, 0], Any[3869, 2272, 2699, 2176, 1520, 1931, 2867, 2702, 1179, 1117  ‚Ä¶  0, missing, 0, 0, 0, missing, 8, 0, missing, 0], Any[3938, 2394, 3338, 2866, 1876, 2192, 2934, 2810, 1276, 1315  ‚Ä¶  0, missing, 0, 0, 0, missing, 5, 0, missing, 0], Any[4306, 2006, 2407, 2240, 1460, 2381, 2226, 2512, 1020, 1056  ‚Ä¶  0, missing, 0, 0, 0, missing, 1, 0, missing, 1], Any[4054, 1522, 2682, 2100, 1626, 1620, 2325, 2547, missing, 1292  ‚Ä¶  missing, missing, missing, missing, missing, missing, 2, 0, missing, 0]], [:RegionID, :RegionName, :StateName, :SizeRank, Symbol("2008-03"), Symbol("2008-04"), Symbol("2008-05"), Symbol("2008-06"), Symbol("2008-07"), Symbol("2008-08")  ‚Ä¶  Symbol("2019-05"), Symbol("2019-06"), Symbol("2019-07"), Symbol("2019-08"), Symbol("2019-09"), Symbol("2019-10"), Symbol("2019-11"), Symbol("2019-12"), Symbol("2020-01"), Symbol("2020-02")], Dict(Symbol("2009-06") => 20, Symbol("2009-11") => 25, Symbol("2011-11") => 49, Symbol("2014-12") => 86, Symbol("2014-10") => 84, Symbol("2015-10") => 96, Symbol("2019-04") => 138, Symbol("2016-12") => 110, Symbol("2009-04") => 18, Symbol("2008-08") => 10‚Ä¶))

La prima cosa che puoi osservare e che ha utilizzato due comandi diversi:
- `XLSX.readdata()` 
- `XLSX.readtable()`

Il primo si usa se conosci esattamente le celle da leggere, il secondo si usa se non conosci le celle e vuoi leggere tutto il foglio. `XLSX.readdata()` √® molto pi√π veloce come comando e quindi consigliato tutte le volte che conosci le celle da leggere !

Here, `G` is a DataTable item, in the past was a Tuple of two items now the XLSX is changed! per questo motivo i comandi G[1],G[1][1][1:10] e G[2][1:10] non funzionano pi√π.

In [47]:
typeof(G) # il tipo √® DataTable

XLSX.DataTable

I DataTable hanno data e column_labels:

In [50]:
# Il comando G[1] viene sostituito da G.data 
G.data;

In [52]:
# Il comando G[2] viene sostituito da G.column_labels 
G.column_labels

148-element Vector{Symbol}:
 :RegionID
 :RegionName
 :StateName
 :SizeRank
 Symbol("2008-03")
 Symbol("2008-04")
 Symbol("2008-05")
 Symbol("2008-06")
 Symbol("2008-07")
 Symbol("2008-08")
 Symbol("2008-09")
 Symbol("2008-10")
 Symbol("2008-11")
 ‚ãÆ
 Symbol("2019-03")
 Symbol("2019-04")
 Symbol("2019-05")
 Symbol("2019-06")
 Symbol("2019-07")
 Symbol("2019-08")
 Symbol("2019-09")
 Symbol("2019-10")
 Symbol("2019-11")
 Symbol("2019-12")
 Symbol("2020-01")
 Symbol("2020-02")

In [54]:
# Il comando G[1][1] viene sostituido dall'iniziale G.data[1]
# G.data[1] mostra la prima colonna del foglio excel
G.data[1];

In [56]:
# G[1][1][1:10] viene sostituito da G.data[1][1:10]
G.data[1][1:10];

In [58]:
G.data[2][1:10];

And we can easily store this data in a DataFrame with the command: `DataFrame(G)`

In [61]:
# Costruiamo D come DataFrame di G
D = DataFrame(G); # equivalent to DataFrame(G[1],G[2]);

In [50]:
Pkg.status()

Status `~/Documents/GitHub/juliaProjects/DataScience/Project.toml`
  [6e4b80f9] BenchmarkTools v1.5.0
  [336ed68f] CSV v0.10.15
  [a93c6f00] DataFrames v1.7.0
  [8bb1440f] DelimitedFiles v1.9.1
  [4138dd39] JLD v0.13.5
  [23992714] MAT v0.10.7
  [15e1cf62] NPZ v0.4.3
  [6f49c342] RCall v0.14.6
  [df47a6cb] RData v1.0.0
  [fdbf4ff8] XLSX v0.10.4
  [f43a241f] Downloads v1.6.0

In [52]:
by(D, :StateName,size)
# questo comando non funziona pi√π ora il comando si chiama combine

LoadError: UndefVarError: `by` not defined in `Main`
Suggestion: check for spelling errors or missing imports.

In [63]:
combine(D, :StateName,size)

28759√ó2 DataFrame
   Row ‚îÇ StateName      x1
       ‚îÇ Any            Tuple‚Ä¶
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
     1 ‚îÇ New York       (28759, 148)
     2 ‚îÇ California     (28759, 148)
     3 ‚îÇ Texas          (28759, 148)
     4 ‚îÇ Illinois       (28759, 148)
     5 ‚îÇ Texas          (28759, 148)
     6 ‚îÇ Pennsylvania   (28759, 148)
     7 ‚îÇ Arizona        (28759, 148)
     8 ‚îÇ Nevada         (28759, 148)
     9 ‚îÇ California     (28759, 148)
    10 ‚îÇ Texas          (28759, 148)
    11 ‚îÇ Texas          (28759, 148)
   ‚ãÆ   ‚îÇ       ‚ãÆ             ‚ãÆ
 28750 ‚îÇ Maine          (28759, 148)
 28751 ‚îÇ Missouri       (28759, 148)
 28752 ‚îÇ Wisconsin      (28759, 148)
 28753 ‚îÇ Maine          (28759, 148)
 28754 ‚îÇ Maine          (28759, 148)
 28755 ‚îÇ Maine          (28759, 148)
 28756 ‚îÇ South Dakota   (28759, 148)
 28757 ‚îÇ Maine          (28759, 148)
 28758 ‚îÇ Utah           (28759, 148)
 28759 ‚îÇ Maine          (28759, 148)
                   28738 rows omitted

In [54]:
foods = ["apple", "cucumber", "tomato", "banana"]
calories = [105,47,22,105]
prices = [0.85,1.6,0.8,0.6,]
dataframe_calories = DataFrame(item=foods,calories=calories)
dataframe_prices = DataFrame(item=foods,price=prices)

4√ó2 DataFrame
 Row ‚îÇ item      price
     ‚îÇ String    Float64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ apple        0.85
   2 ‚îÇ cucumber     1.6
   3 ‚îÇ tomato       0.8
   4 ‚îÇ banana       0.6

In [56]:
DF = innerjoin(dataframe_calories,dataframe_prices,on=:item)

4√ó3 DataFrame
 Row ‚îÇ item      calories  price
     ‚îÇ String    Int64     Float64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ apple          105     0.85
   2 ‚îÇ cucumber        47     1.6
   3 ‚îÇ tomato          22     0.8
   4 ‚îÇ banana         105     0.6

In [58]:
# we can also use the DataFrame constructor on a Matrix
DataFrame(T, :auto)

9√ó6 DataFrame
 Row ‚îÇ x1        x2            x3            x4        x5       x6
     ‚îÇ Any       Any           Any           Any       Any      Any
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ RegionID  RegionName    StateName     SizeRank  2008-03  2008-04
   2 ‚îÇ 6181      New York      New York      1         missing  missing
   3 ‚îÇ 12447     Los Angeles   California    2         1446     1705
   4 ‚îÇ 39051     Houston       Texas         3         2926     3121
   5 ‚îÇ 17426     Chicago       Illinois      4         2910     3022
   6 ‚îÇ 6915      San Antonio   Texas         5         1479     1529
   7 ‚îÇ 13271     Philadelphia  Pennsylvania  6         1609     1795
   8 ‚îÇ 40326     Phoenix       Arizona       7         1310     1519
   9 ‚îÇ 18959     Las Vegas     Nevada        8         1618     1856

You can also easily write data to an XLSX file

In [283]:
# if you already have a dataframe: 
# XLSX.writetable("filename.xlsx", collect(DataFrames.eachcol(df)), DataFrames.names(df))
# LSX.writetable("writefile_using_XLSX.xlsx",G[1],G[2])
# ----------------------------------------------------
# Il comando sopra non funziona pi√π con la sintassi di oggi si ha:
# We need to remember this when we want to write data to an XLSX file. 
# Using G (DataTable) and D (DataFrame) as a source as in the course notebook gives rise to:

XLSX.writetable("data/writefile_using_XLSX_from_struct.xlsx", G.data, G.column_labels)
XLSX.writetable("data/writefile_using_XLSX_from_dataframe.xlsx", "Data" => D). # writing D to a sheet named "Data"

LoadError: ParseError:
# Error @ ]8;;file:///Users/diegopisera/Documents/GitHub/juliaProjects/DataScience/In[283]#8:115\In[283]:8:115]8;;\
XLSX.writetable("data/writefile_using_XLSX_from_struct.xlsx", G.data, G.column_labels)
XLSX.writetable("data/writefile_using_XLSX_from_dataframe.xlsx", "Data" => D). # writing D to a sheet named "Data"
#                                                                                                                 ‚îî ‚îÄ‚îÄ premature end of input

## ‚¨áÔ∏è Importing your data

Often, the data you want to import is not stored in plain text, and you might want to import different kinds of types. Here we will go over importing `jld`, `npz`, `rda`, and `mat` files. Hopefully, these four will capture the types from four common programming languages used in Data Science (Julia, Python, R, Matlab).

We will use a toy example here of a very small matrix. But the same syntax will hold for bigger files.

```
4√ó5 Array{Int64,2}:
 2  1446  1705  1795  1890
 3  2926  3121  3220  3405
 4  2910  3022  2937  3224
 5  1479  1529  1582  1761
 ```

In [61]:
using JLD
jld_data = JLD.load("data/mytempdata.jld")
save("mywrite.jld", "A", jld_data)

In [63]:
using NPZ
npz_data = npzread("data/mytempdata.npz")
npzwrite("mywrite.npz", npz_data)

In [67]:
using RData
R_data = RData.load("data/mytempdata.rda")
# We'll need RCall to save here. https://github.com/JuliaData/RData.jl/issues/56
using RCall
@rput R_data
R"save(R_data, file=\"mywrite.rda\")"

[ Info: Precompiling RCall [6f49c342-dc21-5d91-9882-a32aef131414]

RObject{NilSxp}
NULL

In [69]:
using MAT
Matlab_data = matread("data/mytempdata.mat")
matwrite("mywrite.mat",Matlab_data)

In [71]:
@show typeof(jld_data)
@show typeof(npz_data)
@show typeof(R_data)
@show typeof(Matlab_data)
;

typeof(jld_data) = Dict{String, Any}
typeof(npz_data) = Matrix{Int64}
typeof(R_data) = Dict{String, Any}
typeof(Matlab_data) = Dict{String, Any}

In [73]:
Matlab_data

Dict{String, Any} with 1 entry:
  "tempdata" => [2 1446 ‚Ä¶ 1795 1890; 3 2926 ‚Ä¶ 3220 3405; 4 2910 ‚Ä¶ 2937 3224; 5 ‚Ä¶

# üî¢ Time to process the data from Julia
We will mainly cover `Matrix` (or `Vector`), `DataFrame`s, and `dict`s (or dictionaries).

## `Matrix` (or `Vector`)
 Let's bring back our programming languages dataset and start playing it the matrix it's stored in.

In [18]:
P

73√ó2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"
 1959  "RPG"
 1962  "APL"
 1962  "Simula"
    ‚ãÆ
 2003  "Scala"
 2005  "F#"
 2006  "PowerShell"
 2007  "Clojure"
 2009  "Go"
 2010  "Rust"
 2011  "Dart"
 2011  "Kotlin"
 2011  "Red"
 2011  "Elixir"
 2012  "Julia"
 2014  "Swift"

Here are some quick questions we might want to ask about this simple data.
- Which year was was a given language invented?
- How many languages were created in a given year?

In [20]:
# Q1: Which year was was a given language invented?
function year_created(P,language::String)
    loc = findfirst(P[:,2] .== language)
    return P[loc,1]
end
year_created(P,"Julia")

2012

Inspecting the file "programming_languages.csv" reveals that data preparation has been a bit sloppy (or biased? :) ) as the string stored is "Wolfram Language ". We must thus eliminate leading or trailing white space characters before we look for matches. Fortunately, strings can be trimmed conveniently by applying the functions strip (trailing white space) or strip (leading and trailing white space).

In [22]:
year_created(P, "Wolfram Language")

LoadError: ArgumentError: invalid index: nothing of type Nothing

In [26]:
# So, to handle the data quality issues in our case, 
# we should slightly modify the search functions, e.g : 
function year_created(P, language::String)
    loc = findfirst( strip.(P[:, 2]) .== language)
    return P[loc, 1]
end

year_created (generic function with 1 method)

In [28]:
year_created(P, "Wolfram Language")

1988

In [80]:
year_created(P,"W")

LoadError: ArgumentError: invalid index: nothing of type Nothing

In [53]:
function year_created_handle_error(P,language::String)
    loc = findfirst(P[:,2] .== language)
    !isnothing(loc) && return P[loc,1]
    error("Error: Language not found.")
end
year_created_handle_error(P,"W")

LoadError: Error: Language not found.

Another (minor) remark concerns the improved version that handles errors. It takes advantage of short-circuit evaluation in Julia as the second argument in a conditional connective is only evaluated if the evaluation of the first argument necessitates this. Instead of negating the is nothing() check, we can immediately use it in the conditional, which therefor in my opinion is the more natural (i.e., sparse) solution:

In [57]:
function year_created_handle_error(P, language::String)
    loc = findfirst(strip.(P[:, 2]) .== language)
    isnothing(loc) || return P[loc, 1]   # return P[loc, 1] is only evaluated if isnothing(loc) is false
    error("Error: Language not found.")
end
year_created_handle_error(P,"W")

LoadError: Error: Language not found.

In [84]:
# Q2: How many languages were created in a given year?
function how_many_per_year(P,year::Int64)
    year_count = length(findall(P[:,1].==year))
    return year_count
end
how_many_per_year(P,2012)

1

## `DataFrame`
Now let's try to store this data in a DataFrame...

In [87]:
P_df = C #DataFrame(year = P[:,1], language = P[:,2]) # or DataFrame(P)

73√ó2 DataFrame
 Row ‚îÇ year   language
     ‚îÇ Int64  String31
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ  1951  Regional Assembly Language
   2 ‚îÇ  1952  Autocode
   3 ‚îÇ  1954  IPL
   4 ‚îÇ  1955  FLOW-MATIC
   5 ‚îÇ  1957  FORTRAN
   6 ‚îÇ  1957  COMTRAN
   7 ‚îÇ  1958  LISP
   8 ‚îÇ  1958  ALGOL 58
   9 ‚îÇ  1959  FACT
  10 ‚îÇ  1959  COBOL
  11 ‚îÇ  1959  RPG
  ‚ãÆ  ‚îÇ   ‚ãÆ                ‚ãÆ
  64 ‚îÇ  2006  PowerShell
  65 ‚îÇ  2007  Clojure
  66 ‚îÇ  2009  Go
  67 ‚îÇ  2010  Rust
  68 ‚îÇ  2011  Dart
  69 ‚îÇ  2011  Kotlin
  70 ‚îÇ  2011  Red
  71 ‚îÇ  2011  Elixir
  72 ‚îÇ  2012  Julia
  73 ‚îÇ  2014  Swift
                          52 rows omitted

In [89]:
# Even better, since we know the types of each column, we can create the DataFrame as follows:
P_df = DataFrame(year = Int.(P[:,1]), language = string.(P[:,2]))

73√ó2 DataFrame
 Row ‚îÇ year   language
     ‚îÇ Int64  String
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ  1951  Regional Assembly Language
   2 ‚îÇ  1952  Autocode
   3 ‚îÇ  1954  IPL
   4 ‚îÇ  1955  FLOW-MATIC
   5 ‚îÇ  1957  FORTRAN
   6 ‚îÇ  1957  COMTRAN
   7 ‚îÇ  1958  LISP
   8 ‚îÇ  1958  ALGOL 58
   9 ‚îÇ  1959  FACT
  10 ‚îÇ  1959  COBOL
  11 ‚îÇ  1959  RPG
  ‚ãÆ  ‚îÇ   ‚ãÆ                ‚ãÆ
  64 ‚îÇ  2006  PowerShell
  65 ‚îÇ  2007  Clojure
  66 ‚îÇ  2009  Go
  67 ‚îÇ  2010  Rust
  68 ‚îÇ  2011  Dart
  69 ‚îÇ  2011  Kotlin
  70 ‚îÇ  2011  Red
  71 ‚îÇ  2011  Elixir
  72 ‚îÇ  2012  Julia
  73 ‚îÇ  2014  Swift
                          52 rows omitted

And now let's answer the same questions we just answered...

In [91]:
# Q1: Which year was was a given language invented?
# it's a little more intuitive and you don't need to remember the column ids
function year_created(P_df,language::String)
    loc = findfirst(P_df.language .== language)
    return P_df.year[loc]
end
year_created(P_df,"Julia")

2012

In [93]:
year_created(P_df,"W")

LoadError: ArgumentError: invalid index: nothing of type Nothing

In [95]:
function year_created_handle_error(P_df,language::String)
    loc = findfirst(P_df.language .== language)
    !isnothing(loc) && return P_df.year[loc]
    error("Error: Language not found.")
end
year_created_handle_error(P_df,"W")

LoadError: Error: Language not found.

In [162]:
# Q2: How many languages were created in a given year?
function how_many_per_year(P_df,year::Int64)
    year_count = length(findall(P_df.year.==year))
    return year_count
end
how_many_per_year(P_df,2011)

4

## `Dict` dictionaries
Next, we'll use dictionaries. A quick way to create a dictionary is with the `Dict()` command. But this creates a dictionary without types. Here, we will specify the types of this dictionary.

In [122]:
# A quick example to show how to build a dictionary
Dict([("A", 1), ("B", 2),("j",[1,2])])

Dict{String, Any} with 3 entries:
  "B" => 2
  "A" => 1
  "j" => [1, 2]

In [196]:
P_dictionary = Dict{Integer,Vector{String}}()

Dict{Integer, Vector{String}}()

In [204]:
P_dictionary[67] = ["julia","programming"] # elimina questo altrimento il codice dopo viene sbagliato.

2-element Vector{String}:
 "julia"
 "programming"

In [108]:
# this is not going to work.
P_dictionary["julia"] = 7

LoadError: MethodError: Cannot `convert` an object of type String to an object of type Integer
The function `convert` exists, but no method is defined for this combination of argument types.

Closest candidates are:
  convert(::Type{T}, ::EzXML.NodeType) where T<:Integer
   @ EzXML ~/.julia/packages/EzXML/DL8na/src/node.jl:36
  convert(::Type{T}, ::EzXML.ReaderType) where T<:Integer
   @ EzXML ~/.julia/packages/EzXML/DL8na/src/streamreader.jl:59
  convert(::Type{T}, ::AbstractChar) where T<:Number
   @ Base char.jl:185
  ...

Now, let's populate the dictionary with years as keys and vectors that hold all the programming languages created in each year as their values. Even though this looks like more work, we often need to do it just once.

In [168]:
dict = Dict{Integer,Vector{String}}()

Dict{Integer, Vector{String}}()

In [170]:
keys(dict)

KeySet for a Dict{Integer, Vector{String}} with 0 entries

In [176]:
year,lang = P[3,:]

2-element Vector{Any}:
 1954
     "IPL"

In [178]:
# Crea un Dict con i valori di P
dict = Dict{Integer,Vector{String}}()
for i = 1:size(P,1)
    year,lang = P[i,:]
    if year in keys(dict)
        dict[year] = push!(dict[year],lang) 
        # note that push! is not our favorite thing to do in Julia, 
        # but we're focusing on correctness rather than speed here
    else
        dict[year] = [lang]
    end
end

In [ ]:
# alternative approach to building a dictionary
# approccio pi√π intelligente e volece
dict = Dict{Integer, Vector{String}}()
for row in eachrow(P)
    year, language = row
    # check if the year is already a key
    if haskey(dict, year)
        push!(dict[year], language)
    else
        dict[year] = [language]
    end
end

In [198]:
# Though a smarter way to do this is:
curyear = P_df.year[1]
P_dictionary[curyear] = [P_df.language[1]]
for (i,nextyear) in enumerate(P_df.year[2:end])
    if nextyear == curyear
        #same key
        P_dictionary[curyear] = push!(P_dictionary[curyear],P_df.language[i+1])
        # note that push! is not our favorite thing to do in Julia, 
        # but we're focusing on correctness rather than speed here
    else
        curyear = nextyear
        P_dictionary[curyear] = [P_df.language[i+1]]
    end
end

In [200]:
length(keys(P_dictionary))

45

In [202]:
length(unique(P[:,1]))

45

In [188]:
keys(P_dictionary)

KeySet for a Dict{Integer, Vector{String}} with 46 entries. Keys:
  1985
  2002
  1952
  1963
  1964
  1967
  67
  2001
  1991
  1957
  1988
  1955
  1951
  1994
  2011
  1959
  1962
  2005
  1969
  1972
  1997
  1986
  1993
  1958
  1987
  ‚ãÆ

In [206]:
# Q1: Which year was was a given language invented?
# now instead of looking in one long vector, we will look in many small vectors
function year_created(P_dictionary,language::String)
    keys_vec = collect(keys(P_dictionary))
    lookup = map(keyid -> findfirst(P_dictionary[keyid].==language),keys_vec)
    # now the lookup vector has `nothing` or a numeric value. We want to find the index of the numeric value.
    return keys_vec[findfirst((!isnothing).(lookup))]
end
year_created(P_dictionary,"Julia")

2012

In [ ]:
# alternativa pi√π veloce
function year_created_loop(P_dictionary,language::String)
    for keyid in keys(P_dictionary) # no need to collect anything
        if in(language, P_dictionary[keyid])
            return keyid
        end
    end
    return "Language not contained in list."
end

In [ ]:
# nota che l'alternativa pi√π veloce √® pi√π veloce!
@btime year_created(P_dictionary, "Julia")
@btime year_created_loop(P_dictionary, "Julia")

In [208]:
# Q2: How many languages were created in a given year?
how_many_per_year(P_dictionary,year::Int64) = length(P_dictionary[year])
how_many_per_year(P_dictionary,2011)

4

In conclusione delle volte pu√≤ essere pi√π utile utilizzare un Dict quanto si vogliono n informazioni per un sub set di dati, ricercarle in questo caso viene pi√π facile.
Questo avviene quando hai delle informazioni legate a certe keys.

# üìù A note about missing data

In [50]:
# assume there were missing values in our dataframe
P[1,1] = missing
P_df = DataFrame(year = P[:,1], language = P[:,2])

73√ó2 DataFrame
 Row ‚îÇ year     language
     ‚îÇ Any      Any
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ missing  Regional Assembly Language
   2 ‚îÇ 1952     Autocode
   3 ‚îÇ 1954     IPL
   4 ‚îÇ 1955     FLOW-MATIC
   5 ‚îÇ 1957     FORTRAN
   6 ‚îÇ 1957     COMTRAN
   7 ‚îÇ 1958     LISP
   8 ‚îÇ 1958     ALGOL 58
   9 ‚îÇ 1959     FACT
  10 ‚îÇ 1959     COBOL
  11 ‚îÇ 1959     RPG
  ‚ãÆ  ‚îÇ    ‚ãÆ                 ‚ãÆ
  64 ‚îÇ 2006     PowerShell
  65 ‚îÇ 2007     Clojure
  66 ‚îÇ 2009     Go
  67 ‚îÇ 2010     Rust
  68 ‚îÇ 2011     Dart
  69 ‚îÇ 2011     Kotlin
  70 ‚îÇ 2011     Red
  71 ‚îÇ 2011     Elixir
  72 ‚îÇ 2012     Julia
  73 ‚îÇ 2014     Swift
                            52 rows omitted

In [51]:
dropmissing(P_df)

72√ó2 DataFrame
 Row ‚îÇ year  language
     ‚îÇ Any   Any
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ 1952  Autocode
   2 ‚îÇ 1954  IPL
   3 ‚îÇ 1955  FLOW-MATIC
   4 ‚îÇ 1957  FORTRAN
   5 ‚îÇ 1957  COMTRAN
   6 ‚îÇ 1958  LISP
   7 ‚îÇ 1958  ALGOL 58
   8 ‚îÇ 1959  FACT
   9 ‚îÇ 1959  COBOL
  10 ‚îÇ 1959  RPG
  11 ‚îÇ 1962  APL
  ‚ãÆ  ‚îÇ  ‚ãÆ        ‚ãÆ
  63 ‚îÇ 2006  PowerShell
  64 ‚îÇ 2007  Clojure
  65 ‚îÇ 2009  Go
  66 ‚îÇ 2010  Rust
  67 ‚îÇ 2011  Dart
  68 ‚îÇ 2011  Kotlin
  69 ‚îÇ 2011  Red
  70 ‚îÇ 2011  Elixir
  71 ‚îÇ 2012  Julia
  72 ‚îÇ 2014  Swift
         51 rows omitted

# Finally...
After finishing this notebook, you should be able to:
- [ ] dowload a data file from the web given a url
- [ ] load data from a file from a text file via DelimitedFiles or CSV
- [ ] write your data to a text file or csv file
- [ ] load data from file types xlsx, jld, npz, mat, rda
- [ ] write your data to an xlsx file, jld, npz, mat, rda
- [ ] store data in a 2D array (`Matrix`), or `DataFrame` or `Dict`
- [ ] write functions to perform basic lookups on `Matrix`, `DataFrame`, and `Dict` types
- [ ] use some of the basic functions on `DataFrame`s such as: `dropmissing`, `describe`, `combine(groupby)`, and `innerjoin`

# ü•≥ One cool finding

Julia was created in 2012